<!-- views/auth/sign-up.ejs -->
<link rel="stylesheet" href="/css/styles.css">

<form action="/auth/sign-up" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="text" name="realName" placeholder="Real Name" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
  <button type="submit">Sign Up</button>
</form>
