<link rel="stylesheet" href="/css/styles.css">
<%- include('../partials/_navbar') %>

<!-- Sign-In Page Container -->
<div class="sign-in-page">
  <div class="sign-in-container">
    <form action="/auth/sign-in" method="POST" class="sign-in-form">
      <h1>Sign In</h1>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit">Sign In</button>
    </form>
  </div>
</div>

<%- include('../partials/_footer') %>
