<!-- views/auth/sign-in.ejs -->
<link rel="stylesheet" href="/css/styles.css">
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">

<%- include('../partials/_navbar') %>

<!-- Sign-In Page Container -->
<div class="sign-in-page">
  <div class="sign-in-container">
    <form action="/auth/sign-in" method="POST" class="sign-in-form">
      <h1>Sign In</h1>
      <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit">Sign In</button>
    </form>
  </div>
</div>

<%- include('../partials/_footer') %>
