<!-- views/partials/_footer.ejs -->
<link rel="stylesheet" href="/css/styles.css">

<footer class="footer">
    <p>&copy; 2024 HollysSweetStart. All rights reserved.</p>
    <nav class="footer-nav">
      <a href="/about">About</a>
    </nav>
  </footer>
  