<link rel="stylesheet" href="/css/styles.css">

<nav class="navbar">
  <ul class="navbar-list">
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <% if (!user) { %>
      <li><a href="/auth/login">Login</a></li>
    <% } else { %>
      <li><a href="/auth/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>

