<link rel="stylesheet" href="/css/styles.css">

<nav class="navbar">
  <ul class="navbar-list">
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
