
<!-- views/about.ejs -->
<link rel="stylesheet" href="/css/styles.css">

<%- include('./partials/_navbar') %>

<div class="about-container">
  <h2>About Holly's Sweet Start</h2>
  <p>Your go-to destination for beginner-friendly baking recipes and tips. Making baking fun, approachable, and rewarding while helping you create delicious treats with confidence!</p>
</div>

<%- include('./partials/_footer') %>
