<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>

  <div class="container">
    <div class="welcome-message">
      <% if (user) { %>
      <h1>Welcome to The FoodieList, <%= user.username %>!</h1>
      <p>
        <a href="/auth/sign-out" class="button">Sign out</a>
      </p>
      <% } else { %>
      <h1>Welcome to The FoodieList, guest.</h1>
      <p>
        <a href="/auth/sign-up" class="button">Sign up</a> or
        <a href="/auth/sign-in" class="button">Sign in</a>.
      </p>
      <% } %>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>


