<link rel="stylesheet" href="/css/styles.css">
<%- include('partials/_navbar') %>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;">

<div class="landing-page">
  <h1>Welcome to Holly's Sweet Start!</h1>
  <p>Your go-to platform for beginner-friendly baking recipes and tips.</p>
  <div class="button-container">
    <a href="/auth/sign-up" class="button primary-button">Sign Up</a>
    <a href="/auth/sign-in" class="button secondary-button">Sign In</a>
  </div>
</div>

<%- include('partials/_footer') %>
