<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Pantry Item</h1>
<form action="/users/<%= user._id %>/foods" method="POST">
  <label for="name">Food Name:</label>
  <input type="text" name="name" required>
  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" required>
  <label for="expirationDate">Expiration Date:</label>
  <input type="date" name="expirationDate">
  <button type="submit">Add Item</button>
</form>

</body>
</html>