<link rel="stylesheet" href="/css/styles.css">

<%- include('../partials/_navbar.ejs') %> <!-- Include Navbar -->

<h1>Add New Item</h1>

<form action="/users/<%= user._id %>/shopping-list" method="POST">
  <label for="name">Item Name:</label>
  <input type="text" name="name" required>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity" value="1" required>

  <button type="submit" class="button">Add Item</button>
</form>

<%- include('../partials/footer.ejs') %>

