<%- include('../partials/_navbar') %>

<div class="recipes-container">
  <h1>All Recipes</h1>

  <% if (recipes.length > 0) { %>
    <ul>
      <% recipes.forEach(recipe => { %>
        <li>
          <a href="/recipes/<%= recipe._id %>"><%= recipe.title %></a>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No recipes found.</p>
  <% } %>
</div>

<%- include('../partials/_footer') %>
